[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy        = "*"
imblearn     = "*"
matplotlib   = "*"
pandas       = "*"
pillow       = "*"
pyyaml       = "*"
scikit-learn = "*"
scipy        = "*"
theano       = "*"

[dev-packages]

[requires]
python_version = "3.8"
